.imgCarro {
  width: 8%;
  float: left;
  margin: 0 10px;
}
.listaCarro {
  padding: 10px;
}
.listaCarro p {
  margin-top: 16px;
  font-weight: bold;
  float: left;
}
.listaCarro button {
  display: inline-block;
  border-radius: 50%;
  border-color: red;
  margin: 10px;
}
.listaCarro button:hover{
  background-color: red;
  border-color: black;
  color: black;
}
