p{
    color: black;
}
.titulo-primario{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 3px;
}
.titulo{
    width: 100vw;
    height: 100px;
    background: #fff;
    z-index: 10;
}
.titulo text{
    font-size: 5rem;
    stroke-width: 3px;
    fill: transparent;
    stroke: #ff3b63;
    letter-spacing: 2px;
    animation: effect 3s infinite alternate;
}
@keyframes effect{
    0%{
        stroke-dasharray: 0 70%;
    }
    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 10%;
    }
}
